@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/Hype1700-BoldIt.otf') format('opentype'); /* Adjust path/format as needed */
    font-weight: normal;
    font-style: normal;
}


body, html {
  margin: 0;
  padding: 0;
  padding-top: 40px; 
  overflow-x: hidden;
  font-family: "MyCustomFont", sans-serif;
  scroll-behavior: smooth;
}

/* Animations */
.slide-left, .slide-right, .slide-up, .slide-down {
  opacity: 0;
  transition: all 0.6s ease-out;
}
.slide-left { transform: translateX(-100px); }
.slide-right { transform: translateX(100px); }
.slide-up { transform: translateY(100px); }
.slide-down { transform: translateY(-100px); }

.slide-left.active,
.slide-right.active,
.slide-up.active,
.slide-down.active {
  opacity: 1;
  transform: translate(0,0);
}


/* Navbar */

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;           
  background-color: #303030;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 0.5rem 1rem;
  z-index: 1000;         
}


/* Highlight oval */
#highlight {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 36px;
  width: 0;
  background-color: #E8D3A2;
  border-radius: 999px;
  z-index: 0;
  transition: all 0.25s ease;
  pointer-events: none;
  opacity: 0;
}

/* List container */
#navbarList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 2em;
  justify-content: center;
}

/* Oval background for the links */
#nav-circle {
  position: relative;
  display: flex;
  gap: 3em;
  padding: 8px 20px;
  border-radius: 999px;
  background-color: #4B2E83;
}

#nav-circle a.active-link {
  color: black;
  transition: color 0.3s ease;
}

/* Links */
#nav-circle a {
  position: relative;
  z-index: 1; /* text above highlight */
  color: #E8D3A2;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  padding: 6px 12px;
}

#nav-circle a:hover {
  /* background-color: #E8D3A2; */
  color: #303030;   
  z-index: 0;     
  /* padding: 1px 14px;    
  border-radius: 999px;  
  transition: background-color 0.2s, color 0.2s; */
}



#navbarList li a {
  color: #E8D3A2;
  text-decoration: none;
  font-weight: bold;
}


#logo {
  width: 80px;
}


/* Home Page Section One*/


.rectangles {
  z-index: -50;
  width: 100%;
  height: calc(100vh - 20px);
  background-color: #4B2E83;
  color: white;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;
  rotate: 3deg;
  left: -2%;
  position: relative;
}


.center-wrapper {
  padding-top: 0;
  left:0;
  position: relative;
  height: calc(100vh - 280px);
  display: flex;
  align-items: center;
  justify-content: center;
  width:120%;
}

.center-wrapper-2 {
  padding-top: 0;
  position: relative;
  height: calc(100vh - 280px);
  display: flex;
  align-items: center;
  justify-content: center;
}




body {
  font-family: "MyCustomFont", sans-serif;
}

.rectangles .rectangle-2 {
    width: 800px;
    height: 1000px;
    position: relative;
    right: 10%;
    top: 0px;
    background-color: #303030;
    padding: 0;
    rotate: 7deg;
}

.overlay-3 {
  width: 50%;
  margin: 15vh 15vh;
  transform: rotate(-3deg);
}

.overlay-3 .text-wrapper-2 {
    position: relative;
    width: 900px;
    top: 50px;
    left: 0;
    font-family: "MyCustomFont", Helvetica;
    font-weight: 700;
    color: #E8D3A2;
    font-size: 100px;
    letter-spacing: 0;
    line-height: 120px;
    letter-spacing: -5px; 
}


.overlay-3 p {
    position: absolute;
    width: 80%;
    top: 180px;
    font-family: "Encode Sans";
    font-weight: 100;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}


.box {
    width: 291px;
    height: 78px;
}


.box .rectangle {
    position: relative;
    width: 291px;
    height: 78px;
    top: 425px;
    left: 0;
    background-color: #303030;
    /* background-color: #4B2E83; */
    border-radius: 10px;
}


.download {
    position: relative;
    top: 21px;
    left:30px;
}


.label {
    width: 235px;
    height: 32px;
}


.label .text-wrapper {
    position: relative;
    width: 235px;
    top: 0;
    left: 50px;
    font-family: "Encode Sans-Bold", Helvetica;
    font-weight: 700;
    color: #e8d3a2;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}


#demo-phone {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 13%;
  top: 15%;
  z-index: 1;
  rotate: -10deg;
  width: 44%;
}

#feature-img {
  position: absolute;
  align-items: center;
  left: 15%;
  top: 16%;
  z-index: 0;
  rotate: -10deg;
  width: 40%;
  /* height: 660px; */
  border-radius: 50px;
}

.marquee-wrapper {
    position: absolute;
    top: 960px; 
    left: -30px; /* Adjust based on your layout */
    overflow: hidden;
    transform: rotate(-90deg);
    transform-origin: left top;
}

.marquee-inner {
    display: flex;
    flex-direction: row;
    animation: scroll-vertical 20s linear infinite;
    font-family: 'MyCustomFont';
}

.slant-text {
    font-family: 'MyCustomFont';
    color: #8E632A;
    font-size: 23px;
    white-space: nowrap;
    /* font-weight: 400; */
    background-color: #e8d3a2;
    padding: 3px;
}

@keyframes scroll-vertical {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

#divider {
  width: 100%;
  position: relative;
  height: 10%;
  background-color: #ffffff;
  top: 9%;
  z-index: -10000;
}

#divider2 {
  width: 100%;
  position: relative;
  height: 10%;
  background-color: #E8D3A2;
  top: 15%;
  z-index: -10000;
}


/* Home Page Section Two */
.features-marquee-wrapper {
  width: 100%;
  top: -5%;
  overflow: hidden;
  position: relative;
  z-index: 100;
  rotate: 3deg;;
}

.features-marquee-inner {
  display: flex;
  width: max-content;
  animation: slide-left 20s linear infinite;
  z-index: 100;
}

@keyframes slide-left {
  0% {
    transform: translateX(0%);
  }
  200% {
    transform: translateX(-50%);
  }
}


.features {
    padding-top: 240px;
    padding-bottom: 65px;
    display: flex;
    flex-direction: row;
    animation: scroll-vertical 20s linear infinite;
    display: flex;
    list-style: none;
    margin: 0;
}


.feature-1 {
    position: relative;
    width: 320px;
    height: 600px;
    top: 10px;
    /* top: calc(100vh - 98vh); */
    height: calc(100vh - 280px);
    background-color: #303030;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid #303030;
    align-self: center;
      display: flex;
    align-items: center;    
    flex-direction: column;
    text-align: center;
    min-width: 300px; /* adjust based on your design */
    flex-shrink: 0;
    margin-right: 10px;
    rotate: -3deg;
}

.feature-text-1 {
    position: relative;
    width: 235px;
    top: 20px;
    font-family: "MyCustomFont", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    left: 13%;
}


.feature-text-2 {
    position: relative;
    top: 30px;
    width: 270px;
    font-family: "Encode Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.feature-button {
  position: relative;
  top: 17%;
  display: inline-block;
}

.feature-button-link {
  text-decoration: none;
  color: black;
}

.feature-button-box {
  display: flex;
  align-items: center;   /* makes children equal height */
  background-color: #C0AA73; /* left tan side */
  clip-path: polygon(10px 0, 100% 0, calc(100% - 10px) 100%, 0 100%);
  font-family: "Encode Sans-Bold", Helvetica;
  font-weight: bold;
  width: 180px;  
}


.feature-button-text {
  font-family: "Encode Sans-Bold", Helvetica;
  flex: 1;
}

.feature-button-arrow {
  background-color: #9C8658; /* darker tan */
  display: flex;
  align-items: center;       /* centers arrow vertically */
  justify-content: center;   /* centers arrow horizontally */
  clip-path: polygon(0 0, 100% 0, calc(100% - 10px) 100%, 0 100%);
  font-size: 30px;
  font-weight: bold;
  height: 45px;                 /* makes it taller */
  width: 40px;
  color: #ffffff;        /* fixed width */

}

.feature-button-arrow img {
  height: 20px;          /* makes arrow smaller */
  width: auto;
}


.image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.feature-img {
  width: 317px;
  position: absolute;
  top: -4px;
  /* border-radius: 50px; */
}


.phone {
  width: 310px;
  z-index: 2;
  top: 0px;
}


.background {
  z-index: 1;
}

.feature-box {
  position: relative;
  width: 100%;
  height: 33%;
  top: 75%;
  left: 0;
  background-color: #303030;
  z-index: 100;
  justify-content: center;
  align-items: center;
}



/* Home Page Section Three */

.move-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 150%;
}

#founders {
  position: relative;
  top: 285px;
  background-color: #303030;
  width: 120%;
  height: calc(100vh - 200px);
  z-index: 0;
  overflow: hidden;
  rotate: 3deg;
  left: -25%;
}

#founder {
  background-color: white; 
  /* width: 450px; */
  width: calc(100vh - 430px);
  /* height: 450px; */
  height: calc(100vh - 430px);
  top: 0px;
  z-index: 1;
  position: relative; 
  color: white;
  border-radius: 30px;
  text-align: center;
  font-size: 2vw;
  /* z-index: -10000; */
}

#founder:hover {
  background-color: #4B2E83; 
  color: black; 
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
  color: white;
  font: 'Encode Sans';
}

.founder-name {
  font-size: 1em;
  position: relative;
  top: 1.4em;
  color: #e8d3a2;
}

.founder-email {
  font-size: 0.5em;
  position: relative;
  top: 4em;
}

.founder-text {
  font-size: 0.6em;
  position: relative;
  top: 4em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  line-height: 1.5;
}

/* Hide content by default */
.founder-name,
.founder-email,
.founder-text {
  opacity: 0;
  transition: opacity 0.4s ease;
}

/* Reveal on hover */
#founder:hover .founder-name,
#founder:hover .founder-email,
#founder:hover .founder-text {
  opacity: 1;
}


.header {
  position: relative;
  top:40px;
}

.text-wrapper-4 {
    position: relative;
    width: 572px;
    left: 0;
    font-family: "MyCustomFont", Helvetica;
    font-weight: 700;
    color: #E8D3A2;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    margin-bottom: -30px;
}

.founders-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding-top: 100px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  rotate: -3deg;
  width: 120%;
}

.text-1 {
  position: absolute;
  rotate: 90deg;
  height: 300px;
  left: -450px;
  /* top: 150px; */
  color: #e8d3a2;
  font-size: 20px;
  white-space: nowrap;
  height: calc(100vh - 240px);
  animation: scroll-vertical 20s linear infinite;
}

.text-2 {
  position: absolute;
  rotate: 90deg;
  height: 300px;
  left: 760px;
  /* top: 150px; */
  color: #e8d3a2;
  font-size: 20px;
  white-space: nowrap;
  height: calc(100vh - 240px);
  animation: scroll-vertical 20s linear infinite;
}

.footer-header {
  position: relative;
  width: 100%;
  left: 0;
  font-family: "MyCustomFont", Helvetica;
  font-weight: 700;
  color: #303030;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  margin-top: 35%;
}
    .faq-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));      max-width: 700px;
      margin: 0 auto;
      position: relative;
      top: 10%;
      gap: 20px;
      max-width: 1000px;
      margin: 0 auto;
    }

    .faq-item {
      background: #4B2E83;
      color: #ffffff;
      border-radius: 12px;
      margin-bottom: 15px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      overflow: hidden;
      transition: 0.3s ease;
      width: 100%;
    }

    .faq-question {
      padding: 18px 20px;
      cursor: pointer;
      font-weight: bold;
      transition: background 0.3s ease;
    }

    .faq-question:hover {
      background: #303030;
    }

    .faq-answer {
      max-height: 0;
      overflow: hidden;
      padding: 0 20px;
      background: #303030;
      color: #E8D3A2;
      transition: max-height 0.4s ease, padding 0.3s ease;
    }

    .faq-item.active .faq-answer {
      max-height: 200px; /* enough space for text */
      padding: 15px 20px;
    }

/* Footer */

.footer {
  position: relative;
  /* top: 540px; */
  width: 100%;
  height: 30%;
  margin: 15vh auto 0 0;
  background-color: #4B2E83;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 40px 200px;
  box-sizing: border-box;
  flex-wrap: wrap;
  text-align: left;
  line-height: 2;
  z-index: 200;
}

.footer-section {
  max-width: 300px;
  margin: 10px, 5px;
}

.footer-section h2 {
  color: #E8D3A2;
  font-size: 22px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section a {
  color: white;
  text-decoration: underline;
}

/* Features */

/* Banners */

.opening-section {
  position: relative;
  top: -10px;
  width: 100%;
  height: auto; 
  background-color: #4B2E83;
  display: flex;
  flex-direction: column; 
  align-items: center;     
  padding: 40px 20px;  
    
}

.header-text {
  font-family: "MyCustomFont", Helvetica;
  font-weight: 700;
  color: #E8D3A2;
  font-size: 40px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 60px;   
}

.core-value-container {
  display: flex;
  justify-content: center;
  gap: 20px;                
}

.core-value {
  flex: 1;
  min-width: 400px;
  min-height: 200px;
  background: #E8D3A2;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #303030;
  position: relative;
  transition: all 0.3s ease; 
}

.core-value:hover {
  background-color: #303030;
  color: #E8D3A2;
}

.core-value:hover .default-text {
  opacity: 0;
}

.core-value:hover .hover-text {
  opacity: 1;
}

.core-value-text.hover-text {
  opacity: 0;
  position: absolute;
  font-weight: 700;
  font-size: 20px;
  max-width: 300px;
  line-height: 1.5;
  transition: opacity 0.3s ease;
}

.core-value-text {
  font-family: "MyCustomFont", Helvetica;
  font-weight: 700;
  font-size: 30px;
}

.core-value:hover {
  background-color: #303030; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

.core-value:hover .default-text {
  opacity: 0;
}

.core-value:hover .hover-text {
  opacity: 1;
}

.core-value-text.hover-text {
  opacity: 0;
  position: absolute; 
  color: #E8D3A2;
  font-weight: 700;
  font-size: 20px;
  transition: opacity 0.3s ease;
  max-width: 300px;
  line-height: 1.5;
}

.core-value-text {
  font-family: "MyCustomFont", Helvetica;
  font-weight: 700;
  font-size: 30px;
} 

#side-bar {
  width: 10%;
  height: 100%;
  background-color: #303030;
  position: absolute;
  top: 0%;
  z-index: -1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-bar-text {
  color: #E8D3A2;
  font-family: "MyCustomFont", Helvetica;
  rotate: -90deg;
  font-size: 80px;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  transform: translateX(-180%);
  /* transition: opacity 0.4s ease-in-out; */
}

.scroll-helper {
  height: 40vh;          
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E8D3A2;
  font-size: 2rem;
}

.features-stack {
  position: relative;
  height: 1000vh; 
}

.tab {
  height: 20%;
  /* border: 4px solid #303030;  */
  border-radius: 20px 20px 0 0;
  transform: rotate(-90deg);
  transform-origin: left top; 
  position: absolute;    
  left: 23px;       
  /* top: 35.6%; */
  justify-content: center;
  align-items: center;
}

.general {
  top: 24.7%;
  width: 10%;
  background-color: #303030;     
}

.student {
  top: 61%;
  width: 16%;
  background-color: #303030;     
}

.driver {
  top: 97.6%;
  width: 16%;
  background-color: #303030;     
}

.tab-text {
  font-family: "MyCustomFont", Helvetica;
  font-weight: 700;
  color: #E8D3A2;
  font-size: 23px;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  transform: translateY(65%);
}

.feature-center-wrapper {
  position: sticky;
  top: 50%;                   
  transform: translateY(-50%); 
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.feature-center-wrapper:nth-child(1) { z-index: 1; }
.feature-center-wrapper:nth-child(2) { z-index: 2; }
.feature-center-wrapper:nth-child(3) { z-index: 3; }
.feature-center-wrapper:nth-child(4) { z-index: 4; }
.feature-center-wrapper:nth-child(5) { z-index: 5; }
.feature-center-wrapper:nth-child(6) { z-index: 6; }
.feature-center-wrapper:nth-child(7) { z-index: 7; }
.feature-center-wrapper:nth-child(8) { z-index: 8; }
.feature-center-wrapper:nth-child(9) { z-index: 9; }


.feature-rectangles {
  width: 90%;
  height: calc(100vh - 170px);
  background-color: #303030;
  color: white;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  border-radius: 40px;
  /* margin-left: -8%; */
}

.feature-rectangles .rectangle-3 {
    width: 1000%;
    height: 250%;
    position: relative;
    /* right: 0; */
    top: -100px;
    /* left: -8%; */
    background-color: #4B2E83;
    padding: 0;
    rotate: 7deg;
}

.feature-overlay {
  width: 50%;
  margin: 20vh 10vh;
}

.feature-overlay .text-wrapper-2 {
    position: relative;
    width: 900px;
    left: 0;
    font-family: "MyCustomFont", Helvetica;
    font-weight: 700;
    color: #E8D3A2;
    font-size: 100px;
    letter-spacing: 0;
    line-height: 120px;
    letter-spacing: -5px; 
}


.feature-overlay .p1 {
    position: absolute;
    width: 50%;
    top: 35vh;
    font-family: "Encode Sans";
    font-weight: 100;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
}

.feature-overlay .p1 ul {
  padding-left: 20px;
  list-style: circle;
}

.feature-overlay .p1 ul li {
  padding-bottom: 20px;
  line-height: 1.5;
}

.feature-demo-phone {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 13%;
  top: 6%;
  z-index: 1;
  rotate: -10deg;
  width: 60%;
  rotate: -7deg;
}

.feature-img-1 {
  position: absolute;
  align-items: center;
  left: 16%;
  top: 7%;
  z-index: 0;
  rotate: -10deg;
  width: 54%;
  rotate: -7deg;
  border-radius: 45px;
}

.feature-footer {
  position: relative;
  width: 100%;
  height: 40%;
  margin: -35vh auto 0 0;
  background-color: #4B2E83;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 40px 200px;
  box-sizing: border-box;
  flex-wrap: wrap;
  text-align: left;
  line-height: 2;
  z-index: 200;
}

/* Founders */

.founder-center-wrapper {
  position: relative;
  top: 43%;                   
  transform: translateY(-50%); 
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.founder-rectangles {
  width: 90%;
  height: calc(100vh - 170px);
  background-color: #303030;
  color: white;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  border-radius: 40px;
}

.founder-rectangles .rectangle-3 {
    width: 100%;
    height: 300%;
    position: relative;
    top: -100px;
    background-color: #4B2E83;
    padding: 0;
    rotate: 7deg;
    right: 3%;
}

.founder-page-text {
  font-family: "MyCustomFont", Helvetica;
  font-weight: 700;
  color: white;
  font-size: 20px;
  text-align: left;
  margin-top: 17%;
  margin-left: 5%;
  transform: rotate(-7deg);  
  width: 85%;
}

.founder-page-text ul li {
  padding-bottom: 3%;
  line-height: 1.5;
}

.founder-overlay {
  width: 50%;
  margin: 0vh 0vh;
}


.founder-overlay .founder-image {
    position: relative;
    width: 150%;
    height: 70%;
    left: 0;
    background-color: #e8d3a2;
}


.founder-overlay .p1 {
    position: absolute;
    top: 76%;
    font-family: "myCustomFont", Helvetica;
    font-weight: 100;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
}

.founder-overlay .p1 ul {
  padding-left: 50px;
  text-align: left;
}

.founder-overlay .p1 ul #name {
  font-size: 45px;
  padding-bottom: 3%;
  line-height: 1.5;
}

.founder-overlay .p1 ul #email {
  line-height: 1.5;
}

.founder-footer {
  position: relative;
  width: 100%;
  height: 40%;
  margin: 0vh auto 0 0;
  background-color: #4B2E83;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 40px 200px;
  box-sizing: border-box;
  flex-wrap: wrap;
  text-align: left;
  line-height: 2;
  z-index: 200;
}